@media screen, projection {

// Define variables in _variables.scss
// Then create classes that refer to them here
// Then use these class names in your HTML

// Example: create an alternative sans-serif class
// Define $c-sans-serif in _variables.scss
// Then create a c-sans-serif class here
// Like so:
.c-sans-serif {
    font-family: $c-sans-serif;
}


// Some empty media queries
// Use these if you want to make responsive custom classes
article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}
footer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em 0;
}

@media #{$breakpoint-not-small} {
  article {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }
  footer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2em 20px;
  }
}

@media #{$breakpoint-medium} {
  article {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 50px;
  }
  footer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2em 50px;
  }
}

@media #{$breakpoint-large} {
  article{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 70px;
  }
  footer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2em 70px;
  }
}


} // End the enclosing screen/projection media query
