{% include header.html %}

<body class="w-100 sans-serif" style="background-color: #fff; color: #0c0c0c;">

  <p class="clip"><a href="#content">Skip to content</a></p>

  <article class="century-gothic" style="max-width: 1000px; margin: 0 auto; padding: 90px 90px 0;">
    <header class="dt w-100">
      <div class="fl w-third pa2">
        <img src="assets/images/logo only circle.png">
      </div>
      <div class="fl w-two-thirds pa2">
        <h1 class="f3 f-subheadline-l measure mv4 questrial-regular tc">{{ page.title }}</h1>
        <h2 class="f4 tc">{{ page.description }}</h2>
      </div>
    </header>
    <div class="pt5 pb5 vh-50 w-100 mr-auto-ns ml-auto-ns">
      {{ content}}
    </div>
  </article>
  {% include footer.html %}
</body>
