{% include header.html %}

<body class="w-100 sans-serif" style="background-color: #fff; color: #0c0c0c;">

  <p class="clip"><a href="#content">Skip to content</a></p>

  <article class="century-gothic">
    <header class="dt w-100">
      <div class="fl w-third pa2-ns pv4">
        <a href="/"><img src="assets/images/logo only circle.png"></a>
      </div>
      <div class="fl w-two-thirds pa2">
        <h1 class="f2 lh-title measure mv4 tc">{{ page.title }}</h1>
        <h2 class="f5 tc lh-copy">{{ page.description }}</h2>
      </div>
    </header>
    <div class="helvetica pa2 min-h-100 w-100 mr-auto-ns ml-auto-ns">
      {{ content}}
    </div>
  </article>
  {% include footer.html %}
</body>
